GROQ_API_KEY ="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"
AVIATIONSTACK_API_KEY ="210d058e4c22d207e1ac81baa52c666d"
TAVILY_API_KEY ="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"
DATABASE_URL =
